.advantages{
	margin: 60px 0;

}
.advantages__items{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}
.advantages__img{
	width: 60px;
	height: 60px;
}
.advantages__item{
	display: flex;
	flex-direction: column;
	width: 194px;
	align-items: center;
	justify-content: center;

}
.advantages__text{
	color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 27px;
margin: 16px 0 0 0;
	
}
// Планшетна версія 768px
@media screen and (min-width: 768px){
	.advantages__img{
		width: 80px;
		height: 80px;
	}
}




// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
	.advantages{
		margin: 60px 0;
	
	}
	
	.advantages__item{
		width: 25%;
	
	}
	.advantages__img{
		width: 120px;
		height: 120px;
	}
	.advantages__text{
	font-size: 24px;
	margin: 24px 0 0 0;
		
	}
	}