// ДРУГА СТОРІНКА САЙТУ - ПОРТФОЛІО

// СЕТ ПОСЛУГ

.services__title{
	color: $color-accent;
	font-family: "Playfair Display";
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 60px 0 20px 0;
}

// Мобільна версія 390px
.card-set {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	
}

.prodact {
	background: $color-white;
	max-width: 390px;
	cursor: pointer;
	transition: box-shadow 250ms $timing-function;

	&:hover .prodact__thumb::before {
		 transform: translateY(0);
		 cursor: pointer;
	}

	&:hover,
	&:focus {
		 box-shadow: $shadow-cart;
	}

	&:hover .prodact__text {
		 transform: translateY(0);
		 cursor: pointer;
	}
}

.prodact__thumb {
	position: relative;
	overflow: hidden;

	&::before {
		 display: inline-block;
		 position: absolute;
		 content: "";
		 width: 100%;
		 height: 100%;
		 background-color: rgba(212, 193, 127, 0.9);
		 color: $color-primary;
		 transform: translateY(100%);
		 transition: transform 250ms $timing-function;
		 cursor: pointer;
	}
}
.prodact__img{
	display: block;
	width: 100%;
}
.prodact__text {
	display: inline-block;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.56;
	color: $color-primary;
	top: 0;
	left: 0;
	padding:5px 24px;
	transform: translateY(100%);
	transition: transform 250ms $timing-function;
}


.prodact__content {
	text-align: center;
	padding: 12px;
	padding-bottom: auto;
	border: 1px solid $color-bgr-cards;
	border-top-width: 0;
}

.prodact__name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: $color-primary;
	cursor: pointer;
}

@media screen and (min-width: 480px) {
.prodact__text {
	padding: 77px 24px;
}
}

// Планшетна версія 768px
@media screen and (min-width: 768px) {
.prodact {
	display: flex;
	flex-direction: column;
	width: 354px;
	height: 100%;
}
.prodact__content {
	flex-grow: 1;
}
.prodact__text {
	padding: 49px 24px;
}
}

// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
.services__title{
	font-size: 44px;
	margin: 80px 0 40px 0;
	}
.prodact {
	width: 370px;
}

.prodact__text {
	padding: 12px;
}
}
@media screen and (min-width: 1920px) {
	.card-set {
		gap: 10px;
		
	}
}

