$color-primary:#242B33;
$color-secondary:#2D343C;
$color-accent: rgb(212, 193, 127);
$color-black:#000000;
$color-white: #ffffff;
$gap-card-set: 30px;
$color-bgr-cards: #EEEEEE;
$shadow-cart: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
